---
- hosts: tomcat_server
  gather_facts: yes
  tasks:

  - name: Copy file with owner and permissions
    ansible.builtin.copy:
      src: /var/lib/jenkins/workspace/ansible-jenkins/mongo.yaml
      dest: /tmp/kube/

  - name: Copy file with owner and permissions
    ansible.builtin.copy:
      src: /var/lib/jenkins/workspace/ansible-jenkins/mongo.service.yaml
      dest: /tmp/kube/
      
  - name: Copy file with owner and permissions
    ansible.builtin.copy:
      src: /var/lib/jenkins/workspace/ansible-jenkins/knote.yaml
      dest: /tmp/kube/
      
  - name: Copy file with owner and permissions
    ansible.builtin.copy:
      src: /var/lib/jenkins/workspace/ansible-jenkins/knote.service.yaml
      dest: /tmp/kube/
  - name: create mongodb
    ansible.builtin.shell: kubectl apply -f /tmp/kube/mongo.yaml 

  - name: create service of mongdb
    ansible.builtin.shell: kubectl apply -f /tmp/kube/mongo.service.yaml 

  - name: create application knote
    ansible.builtin.shell: kubectl apply -f /tmp/kube/knote.yaml 

  - name: create serivce for knote 
    ansible.builtin.shell: kubectl apply -f /tmp/kube/knote.service.yaml
